.scoreBoard {
    margin-top: 10px;
    padding: 10px;
    background-color: #f5f5f5;
}
.balance {
    font-weight: bold;
    font-size: 1rem;
}

.balanceContent {
    display: flex;
    flex-wrap: wrap;
}

.scoreNumber {
    font-size: 1.5rem;
    color: blue;
}

.scoreUint {
    font-size: 1rem;
}
.scoreUint:last-child {
    align-items: flex-end;
}