.main {
    margin-top: 10px;
    border: 2px solid green;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.gameTitle {
    width: 100%;
    padding: 5px;
    font-weight: bold;
    font-size: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.stepTipsShow {
    margin-top: 10px;
    font-weight: bold;
    
}
.textBlack {
    font-size: 1rem;
    color: black;
}
.textRed {
    font-size: 1.5rem;
    color:blue;
}
.textGreed {
    font-size: 1rem;
    color: green;
}
.colLayout {
    display: flex;
}

.betAction {
    width: 80px;
    height: 30px;
    background-color: green;
    color: white;
    font-weight: bold;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.drawingAction {
    width: 80px;
    height: 30px;
    background-color: green;
    color: white;
    font-weight: bold;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

