.selectNumberShow {
    margin-top: 20px;
    font-weight: bold;
    font-size: 1rem;
}
.selectNumberShowActive {
    color: green;
}
.selectNumberShowInActive {
    color: red;
}


.colLayout {
    display: flex;
}

.setBetAmountShow {
    margin-top: 20px;
    font-weight: bold;
    font-size: 1rem;
}