.selectNumberShow {
    margin-top: 20px;
    font-weight: bold;
    font-size: 1rem;
}
.textBlack {
    color: black;
}
.textRed {
    color: red;
}
.textGreed {
    color: green;
}


.colLayout {
    display: flex;
}

.setBetAmountShow {
    margin-top: 20px;
    font-weight: bold;
    font-size: 1rem;
}