.betNumberArea {
    position: relative;
    width: 50px;
    height: 50px;
    /* background-color: black; */

    /* 子元素居中展示 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.araeBlack {
    background-color: black;
}

.araeRed {
    background-color: red;
}

.betText {
    width: 50%;
    height: 50%;
    color: white;

    /* 子元素居中展示 */
    display: flex;
    justify-content: center;
    align-items: center;

    /* 画圆边 */
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}