.logSuggest {
    display: inline-block;
    color: white;   
    padding: 2px;
    border-radius: 3px;
}

.logSuggestActive {
    background-color: green;
}

.logSuggestInActive {
    background-color: orange;
}